filebeat.config.inputs:
  enabled: true
  path: prospectors/*.yml
# Esta directiva no funciona :/
#  reload.enabled: true
#  reload.period: 10s


filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enable: true

{% if filebeat_output_redis_enabled %}
output.redis:
{% if filebeat_output_use_ip %}
  hosts:
{% for host in filebeat_output_redis_hosts %}
    - {{lookup('dig', host.split(':')[0]) }}:{{ host.split(':')[1] }}
{% endfor %}
{% else %}
  hosts: {{ filebeat_output_redis_hosts | to_json }}
{% endif %}
  key: "%{[fileset.module]:failback}"
  timeout: {{ filebeat_output_redis_timeout }}
{% endif %}

{% if filebeat_enable_logging %}
logging.level: {{ filebeat_log_level }}
logging.to_files: true
logging.to_syslog: false
logging.files:
  path: {{ filebeat_log_dir }}
  name: {{ filebeat_log_filename }}
  keepfiles: 7
  permissions: 0644
{% endif %}

filebeat.max_procs: {{ filebeat_max_procs }}
